*{
outline:none;
text-decoration:none;
margin:0px auto;
list-style:none;
font-family: Calibri Light !important;

}

/* Wrapper */

.container-fluid{
min-height:500px;
min-width:373px;
margin:0px auto;
background-color:rgba(255,255,255, 0.1);
margin-top:30px;
}

/* Menu */

#menue{

min-height:60px;
font-size:20pt;
background-color:green;
}

.navbar{
	background-color:green;
}

.bg-dark{
	background-color:green;
}


#menue li{
		
float:left;
height:32px;
overflow:hidden;
width:180px;
display:block;
margin-top:12px;
}
#menue ul{
	margin-left:120px;
}
#menue a{
display:block;
color:white;
text-decoration: none;
font-size:16pt;
}

#menue a:hover{
color:FF7F15;
font-weight:bold;
}
/* Content */

a{
	color:green;
}

h3{
/*top:200px;*/
color:#5092CC;
font-size:11pt;
font-weight:bold;
}

h1{
font-size:20pt;
}

#fliesstext{
margin-left:400px;
margin-top:0px;
width:390px;
position:relative;
font-size:11pt;

}

/* Schreibzeug Symbol */

.fas fa-pen{
text-align:center;
margin-left:10px;
}
  
/* Sortiersymbol ausblenden */
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
	display:none !important;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{
display:none !important;
}

/* Suchmenu unten */

ul.pagination{
	width:10%;
	margin-left: 90% !important;
}
.dataTables_info{
	width:100%; 
}
/* Footer */

#footer{
height:25px;
width:100%;
/*color:#e88d86;*/
color:green;
border-top:1px solid green;
text-align:center;
bottom:0;
font-size:12pt;
position:fixed;
}

/* Responsiv Design*/


#table{
	width:100%;
}

@media (min-width: 992px){
	
	#menubeschreibung{
	display:none;
	}
	
}

@media (min-width: 574px){
	
	.container-fluid{
	
	
	}
	
}

