<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html id="html" xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="../pictures/favicon.ico">
    <a name="top"></a>
    <title>Task bearbeiten</title>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="../pictures/favicon.ico">
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="../dynLoad.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="./bilder/favicon.png" />
    <meta name="description" content="TeamList the modern way to organize your tasks.">
    <meta name="author" content="Deven Keshwala, Dominic Bühler, Deniz Sari, Stephane Krebs, Simon Häfliger">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Task Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head> 

<body>
    <div class="container-fluid">

        <div id="menue">
            <nav class="navbar navbar-expand-lg navbar-light">
                <span id="menubeschreibung" style="color:white;" class="navbar-brand">Men&uuml;</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="/">TeamList - Litschi</a>
                    <a class="navbar-brand" href="/task">Task&uuml;bersicht</a>
                    <a class="navbar-brand" href="/mitarbeiter">Mitarbeiter</a>
                    <a class="navbar-brand" href="/abteilung">Abteilungen</a>
                    <a class="navbar-brand" href="/notfallliste">Notfallliste</a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/"><span class="sr-only">TeamList - Litschi</span></a>
                        </li>
                    </ul>

                </div>
            </nav>

        </div>

        <div class="container-fluid">
            <div class="container-fluid">
                <br>
                <br>
                <h1>Task bearbeiten</h1>
                <form action="#" th:action="${postAction}" method="post" th:object="${taskDetail}">

                    <input type="hidden" name="taskDetail.taskid" th:value="*{taskid}" />
                    <label>Titel</label>
                    <input maxlength="50" type="text" class="form-control" id="exampleFormControlInput1" name="taskDetail.titel" th:value="*{titel}" required="required" placeholder="Titel des Tasks">
                    <br>
                    <label>Beschreibung</label>
                    <input maxlength="200" type="text" class="form-control" id="exampleFormControlInput1" name="taskDetail.beschreibung" required="required" th:value="*{beschreibung}" placeholder="Beschreibung des Tasks">
                    <br>

                    <label>Mitarbeiter</label>
                    <select name="taskDetail.mitarbeiterid" value="taskDetail.mitarbeiterid" id="inputState" class="form-control" required="required" placeholder="Mitarbeitername" pattern="{1}">
                        <option placeholder="Bitte auswählen"></option>
                        <option th:each="mitarbeiter: ${mitarbeiterDetail}" th:text="${mitarbeiter.vorname +' '+ mitarbeiter.nachname}" th:value="${mitarbeiter.mitarbeiterid}" th:selected="${mitarbeiter.mitarbeiterid==taskDetail.mitarbeiterid}">Mitarbeiter</option>

                    </select>
                    <br>

                   <label>Start:</label>
                    <input type="date" id="datepickerStart" placeholder="JJJJ-MM-TT" min="" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" name="taskDetail.start" th:value="*{start}" />
                    <label>Ende:</label>
                    <input type="date" id="datepickerEnd" placeholder="JJJJ-MM-TT" min="" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" name="taskDetail.ende" th:value="*{ende}" />
                    <br>
                    <label>Status</label>
                    <label>Status</label>
                    <select name="taskDetail.status" value="taskDetail.status" id="inputState" class="form-control" required="required">
                        <option th:each="status: ${statusDetail}" th:text="${status.name}" th:value="${status.statusid}" th:selected="${status.statusid==taskDetail.status}"></option>
                    </select>
                    <br>
                    <input type="submit" />

                </form>
                <br>
                <br>
                <a href="/task">
                    <button type="button" class="btn btn-outline-secondary">Zurück</button>
                </a>
                <a href="/">
                    <button type="button" class="btn btn-outline-secondary">Zurück zu Navigation</a>
                </button>
            </div>
        </div>

    </div>
<script type="text/javascript">
        var today = new Date();

        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("datepickerStart").setAttribute("min", today);
    </script>

    <!-- Enddatum vor Startdatum prüfen -->

    <script type="text/javascript">
        $('input[type="date"]').change(function() {
           // alert(this.value); //Date in full format alert(new Date(this.value));
            var inputDate = new Date(this.value);
            document.getElementById("datepickerEnd").setAttribute("min", this.value);

        });
        
    </script>
</body>

</html>